.main
{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3,h4,h5,h6,p
{
    margin-block-end: 0em;
    margin-block-start: 0em;
   
}
.section-space
{
    margin-top: 40px;
}
.headings,.head_desc
{
    margin-bottom: 15px;
}