.nav-bar{
    display: flex;
    background: lavender;
    padding: 0 65px;
    color: white;
    height: 50px;
}
.nav-bar-part1{
    width: 40%;
    position: relative;
}
.nav-text{
    color: white;
    font-family: cursive;
    position: absolute;
    bottom: -26px;
    font-size: 45px;
    text-shadow: 0px 5px black;
}
.nav-bar-part2{
    width: 60%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: end;
}
.nav-items > span{
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
}
.nav-bar-part3{
    display: none;
}
@media only screen and (max-width:620px) {
    .nav-bar-part3{
        display: block !important;
        width: 50%;
        text-align: right;
    }
    .nav-bar-part2{
        display: none !important;
    }
    .nav-menu-icon{
        width: 35px;
    }
    .nav-bar{
        padding: 0 15px !important;
        align-items: center;
    }
    .nav-bar-part1{
        width: 50% !important;
    }
    .nav-text{
        bottom: -40px !important;
        font-size: 32px !important;
    }
    .nav-menu-area{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, black, transparent);
    border-right: 1px solid #ddd;
    }
    .nav-menu-items{
        padding: 15px;
        text-align: left;
        margin-top: 50px;
    }
    .nav-menu-items > div {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 10px;
        border-bottom: 2px solid;
    }
}
